<h1 class="text-center"><%= @article.title %></h1>
<div class="row justify-content-md-center">
  <div class="col-12 mt-4">
    <div class="card text-center shadow bg-white rounded">
      <div class="card-header font-italic">
        by <%= @article.user.username if @article.user %>
        <% if @article.categories.any? %>
          <div class="mt-2"><%= render @article.categories %></div> 
        <% end %>
      </div>
      <div class="card-body">
        <%= image_tag @article.img_header.url, alt: 'Article Header', class: "card-img-top img-thumbnail" %>
        <p class="card-text"><%= raw @article.description %></p>
        <% if user_signed_in? && (@article.user == current_user || current_user.admin?) %>
          <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-primary" %>
          <%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
        <% end %>
      </div>
      <div class="card-footer text-muted">
        <small>Created about <%= time_ago_in_words(@article.created_at) %>, edited about <%= time_ago_in_words(@article.updated_at) %></small>
      </div>
    </div>
  </div>
</div>
