<h1>Stocks</h1>

<div class="pt-3">
  <h3>Search</h3>
  <%= form_tag search_stock_path, method: :get, class: 'form-inline' do %>
    <div class="form-group row">
      <div class="col-10 col-md-6">
        <%= text_field_tag :stock, params[:stock], class: 'form-control mr-sm-2', placeholder: 'Stock ticker symbol', aria_label: 'Search' %>
      </div>
      <div class="col-2 col-md-2 pl-0">
        <%= button_tag type: :submit, class: 'btn btn-outline-dark' do %>
          <%= fa_icon 'search' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<% if @stock %>
  <div class="card card-header d-inline">
    <strong>Symbol: </strong> <%= @stock.ticker %>
    <strong>Name: </strong> <%= @stock.name %>
    <strong>Price: </strong> <%= @stock.last_price %>
  </div>
<% end %>
